<div class="page-header">
    <h1>Viewing Friendship</h1>
</div>

<div class="row">
    <div class="avatar col-md-2">
        <%= avatar_profile_link @user_friendship.user, {class: 'img-circle'} %><br />
        <%= @user_friendship.user.first_name %>
    </div>
    <div class="avatar col-md-2">
        <%= avatar_profile_link @user_friendship.friend, {class: 'img-circle'} %><br />
        <%= @user_friendship.friend.first_name %>
    </div>
</div>
<hr />

<h3><%= @user_friendship.sub_message %></h3>

<div class="form-actions">
    <% if @user_friendship.requested? %>
        <%= link_to "Accept Friendship", accept_user_friendship_path(@user_friendship_path.id), class: 'btn btn-warning', id: 'add-friendship', data: { friend_id: @friend.profile_name, friendship_id: @user_friendship.id, action: 'accept' } %>
    <% end %>

    <%= form_for @user_friendship, url: block_user_friendship_path(@user_friendship), method: :put do |form| %>
        <%= submit_tag "Block user", class: 'btn btn-danger' %>
    <% end %>

    <%= form_for @user_friendship, url: user_friendship_path(@user_friendship), method: :delete do |form| %>
        <%= submit_tag "Destroy Friendship", class: 'btn btn-danger' %>
    <% end %>
    <%= link_to "Destroy Friendship", destroy_user_friendship_path(@user_friendship.id), class: 'btn btn-danger', id: 'add-friendship', data: { friend_id: user.to_param, friendship_id: @friend.profile_name, action: 'cancel' } %>
</div>
