<% if @friend %>
    <p>Do you really want to add <%= @friend.full_name %> as a friend?</p>

        <div class="form form-actions" id="friend-status<%= @friend.profile_name %>">
            <%= form_for @user_friendship, method: :post do |form| %>
		        <div class="form form-actions">
		            <%= form.hidden_field :friend_id, value: @friend.profile_name %>
		            <%= submit_tag "Yes, Add Friend", class: 'btn btn-primary', id: 'add-friendship', data: { friend_id: @friend.to_param, action: 'add' } %>
		            <%= link_to "Cancel", profile_path(@friend), class: 'btn' %>
		        </div>
		    <% end %>
        </div>
<% end %>
