<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.full_name %>
</p>

<p>
  <strong>Content:</strong>
  <%= replace_smilies(@comment.content) %>
</p>
<p><%= image_link_to_status(@comment) %><p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', activities_path %>
