
<div class="col-md-2 well" style="position: fixed; left:10px; height: 100%;">
    <h3>Where are the avatars from?</h3>
    <div class="h5">
        The avatars (the small pictures by some of the posts) are from <a href="www.gravatar.com">Gravatar</a>, if you have a <a href="www.gravatar.com">Gravatar</a> associated with the e-mail address you signed up for My World To Go with then it will automatically be used.</div>

    <div class="h5">
          If you don't have one you can <a href="www.gravatar.com">go set one up</a>, its easy! Or you can wait until we build in a system for profile images, which is coming soon!
    </div>
</div>
<div class="col-md-2">
 
</div>
<div class="col-md-8">
<% if user_signed_in? %>
<div>
    <h1>What's new with your friends?</h1>
</div>

<%= link_to "Post a New Status", feed_create_path, class: "btn btn-primary" %>

<% @statuses.each do |status| %>
    <div class="status">
     <div class="row">
      <div class="col-md-2">
        <%= link_to image_tag(status.user.gravatar_url), profile_path(status.user) %>
      </div>
      <div class="col-md-10">
        <strong><%= link_to status.user.full_name, profile_path(status.user) %></strong>
        <p><%= status.content %></p>
        <div class="meta">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
            <span class="admin">
            <% if status.user_id == current_user.id %>
                | <%= link_to "Edit", edit_status_path(status) %> |
                <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure you want to delete this status for " + status.user.full_name + "?" } %>
            <% end %>
            </span>
        </div>
      </div>
     </div>
    </div>
<% end %>
<% else %>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well"}) do |f| %>
        <fieldset>
            <legend>Sign up!</legend>
            
            <%= devise_error_messages! %>

            <div><%= f.input :first_name, autofocus: true %></div>

            <div><%= f.input :last_name %></div>

            <div><%= f.input :profile_name %></div>

            <div><%= f.input :email %></div>

            <div><%= f.input :password, autocomplete: "off" %></div>

            <div><%= f.input :password_confirmation, autocomplete: "off" %></div>

            <div>
                <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                    Register
                <% end %>
            </div>
        </fieldset>
    <% end %>
<% end %>
</div>
<div class="col-md-2 well" style="position: fixed; float:right; right: 10px; height:100%;">

    <h3>Advertisements:</h3>
    
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div style="margin: 0 auto; text-align: center;">
<!-- my world ads -->
      <ins class="adsbygoogle" style="display:inline-block;width:120px;height:240px" data-ad-client="ca-pub-4879610818531401" data-ad-slot="8250066063"></ins>

      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
</div>
    <div class="h5">We know ads aren't cool, but you've got to make a living somehow, right?</div>

</div>
