<div class="row">
  <div class="col-md-8 offset2">
    <%= page_header do %>
      <h1>
        <%= avatar_profile_link @status.user, {class: 'img-circle'} %>
        <%= @status.user.full_name %>
        <small><%= time_ago_in_words(@status.created_at) + " ago" %></small>
      </h1>
    <% end %>
    
    <p>
      <%= EmoticonFontify.emoticon_fontify(h(@status.content)) %>
    </p>
    
    <hr />
    
    <% if @status.document && @status.document.attachment? %>
      <%= status_document_link @status %>
      <hr />
    <% end %>
    
    <div class="meta">
      
      <%= link_to 'Back', statuses_path %>
      <% if signed_in? && @status.user_id == current_user.id then %>
          |
        <%= link_to 'Edit', edit_status_path(@status) %> |
        <%= link_to 'Delete', @status, method: :delete, data: {confirm: "Are you sure you want to delete this status?"} %>
      <% end %>
    </div>
    <%= simple_form_for(@comment, html: {class: "well", role: "form", multipart: true}) do |f| %>
          <% @comments = Comment.where("parent_type = 'status' AND parent_id = " + @status.id.to_s).order("created_at") %>
          <ul class="media-list">
            <% @comments.each do |comment| %>
              <li class="media">
                <%= avatar_profile_link comment.user, {class: 'img-circle pull-left', width: '30px', height: '30px'} %>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= link_to comment.user.full_name, profile_path(comment.user) %>
                    <% if User.online.include?(comment.user) %>
                      <span style="color: #29aa09;">Online</span>
                    <% end %>
                  </h5>
                  <%= EmoticonFontify.emoticon_fontify(h(comment.content.html_safe)) %>
                  <p><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
                </div>
              </li>
              <hr style="margin-top: 2px; margin-bottom: 2px;">
            <% end %>
          </ul>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :parent_type, as: :hidden, input_html: {value: 'status'} %>
          <%= f.input :parent_id, as: :hidden, input_html: {value: @status.id} %>
          <%= f.input :content, label: false, input_html: {class: 'form-control', placeholder: "Add a comment..."} %>

        </div>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              Add Comment
          <% end %>
        </div>
      <% end %>
  </div>
</div>