<p>Created a new
<% if activity.targetable %>
  <%= link_to "status", status_path(activity.targetable_id) %></p>
  <p><%= replace_smilies(activity.targetable.content.html_safe) %></p>
  <%= image_link_to_status(activity.targetable) %>
  <div class="meta" style="height:15px;">
      <span class="admin">
      <% if activity.targetable.user_id == current_user.id %>
          <%= link_to "Edit", edit_status_path(activity.targetable) %> |
          <%= link_to "Delete", activity.targetable, method: :delete, data: { confirm: "Are you sure you want to delete this status?" } %>
      <% end %>
      </span>
  </div>
<% else %>
  status.</p>
<% end %>