<div class="col-md-1">

</div>
<div class="col-md-10">
<div style="width: 100%; margin: 0 auto 0 auto;">
<%= page_header do %>
  <% if signed_in? && current_user == @user %>
    <%= link_to 'Add Picture', new_album_picture_path(current_user, @album), class: 'btn pull-right btn-primary' %>
  <% end %>
  <h1><%= @album.title %></h1>
<% end %>
    <div class="mosaiqy" style="width: 100%; margin: 0 auto 0 auto; padding-bottom: 10px;">
        <ul style="padding: 0 5%;">
          <% @pictures.each do |picture| %>
            <li style="top: 0px; left: 0px; -webkit-transition: 1.2s; transition: 1.2s; float: left;">
            <div>
              <figure style="position: relative;">
                <a href="<%= album_picture_path(@user, @album, picture) %>"><img src="<%= picture.asset.url(:mos) %>" style="opacity: 1;">
                  <div>
                    <figcaption style="float:left; position: absolute;">
                      <h4 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <% if picture.caption? %>
                          <%= picture.caption %>
                        <% else %>
                          No Caption
                        <% end %>
                      </h4>
                      <hr style="color: #28287A; background-color: #28287A; height: 2px;">
                      <div style="height: 63px; display: block; overflow: hidden; text-overflow: ellipsis;">
                        <% if picture.description? %>
                          <%= picture.description %>
                        <% end %>
                      </div>
                      <% if can_edit_picture?(picture) %>
                      <%= link_to 'Edit', edit_album_picture_path(@album, picture), class: "btn btn-primary", style: "height: 24px; width:40%; position: absolute; bottom: 5px; left: 10px;", role: "button" %>
                      <%= link_to 'Delete', album_picture_path(@album, picture), method: :delete, data: {confirm: "Are you sure you want to delete this picture?" }, class: "btn btn-danger", style: "height: 24px; width:40%; position: absolute; bottom: 5px; right: 10px;", role: "button" %>
                    <% end %>
                    </figcaption>
                  </div>
                </a>
              </figure>
            </div>
          </li>
          <% end %>
        </ul>
    </div>
<%= simple_form_for(@comment, html: {class: "well", role: "form", multipart: true}) do |f| %>
<% @comments = Comment.where("parent_type = 'album' AND parent_id = " + @album.id.to_s).order("created_at") %>
<ul class="media-list">
<% @comments.each do |comment| %>
  <li class="media">
    <%= avatar_profile_link comment.user, {class: 'img-circle pull-left', width: '30px', height: '30px'} %>
    <div class="media-body">
      <h5 class="media-heading">
        <%= link_to comment.user.full_name, profile_path(comment.user) %>
        <% if User.online.include?(comment.user) %>
          <span style="color: #29aa09;">Online</span>
        <% end %>
      </h5>
      <%= replace_smilies(comment.content.html_safe, true) %>
      <p><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
    </div>
  </li>
  <hr style="margin-top: 2px; margin-bottom: 2px;">
<% end %>
</ul>
<%= f.error_notification %>

<div class="form-inputs">

<%= f.input :parent_type, as: :hidden, input_html: {value: 'album'} %>
<%= f.input :parent_id, as: :hidden, input_html: {value: @album.id} %>
<%= f.input :content, label: false, input_html: {class: 'form-control', placeholder: "Add a comment..."} %>

</div>

<div class="form-actions">
<%= button_tag(type: 'submit', class: "btn btn-success") do %>
  Add Comment
<% end %>
</div>
<% end %>
</div>
</div>
<div class="col-md-1">

</div>