<% if user_signed_in? %>
<div class="col-md-2 well hidden-sm hidden-xs" style="position: fixed; left:10px; height: 100%;">
    <h3>Where are the avatars from?</h3>
    <div class="h5">
        You can add an avatar by <%= link_to "editing your profile here and adding one", edit_user_registration_path %>, or by adding one to your e-mail address at <a href="http://www.gravatar.com">Gravatar</a> that can be used on multiple websites!</div>

    <div class="h5">
          If you don't have a Gravatar you can <a href="http://www.gravatar.com">go set one up</a>, its easy!  Or like I said, you can just add a picture to your profile <%= link_to "here", edit_user_registration_path %>.
    </div>
</div>
<div class="col-md-2">
 
</div>
<div class="col-md-8">

<div>
    <h1>What's new with your friends?</h1>
</div>
<div class="controls">
  <%= link_to "Post a New Status", feed_create_path, class: "btn btn-primary" %>
  <%= link_to "Create a New Album", new_album_path(current_user.profile_name), class: "btn btn-danger" %>
  <%= link_to "Find Friends", members_list_path, class: "btn btn-warning" %>
</div>
<div>
  <%= simple_form_for(@status, html: {role: "form", multipart: true}) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
  <%= f.input :content,label: false, input_html:{class: "form-control auto-focus", rows: "2", placeholder: "Update your status...", autofocus: ""}, wrapper_html:{class: "form-group", style: "margin-bottom: 0px;"} %>
  <%= f.fields_for :document do |document_fields| %>
    <% if document_fields.object.attachment? %>
      <%= document_fields.input :remove_attachment, as: :boolean, label: "Remove attachment?", label_html: {style: "float:left;"}, input_html: {style: "margin-left: 5px"} %>
      <div class="control-group">
        <label class="control-label">Current picture</label>
        <div class="controls">
          <%= status_document_link @status %>
        </div>
      </div>
    <% else %>
      <div class="pull-left"><%= document_fields.input :attachment, as: :file, label: false, input_html: {value: "Add Picture"} %></div>
    <% end %>
  <% end %>
  
  <div class="form-actions pull-right">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        Post
    <% end %>
  </div>
  </fieldset>
<% end %>
</div>
<hr style="margin-top: 3px; margin-bottom: 8px;">
<% @activities.each do |activity| %>
  <div class="activity">
    <div class="media">
      <%= avatar_profile_link activity.user, {class: 'img-circle'}, class: 'pull-left' %>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to activity.user.full_name, profile_path(activity.user) %>
          <% if User.online.include?(activity.user) %>
            <span style="color: #29aa09;">Online</span>
          <% end %>
        </h4>
        <%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}",
              locals: { activity: activity } %>
        <small><%= time_ago_in_words(activity.created_at) %> ago</small>
      </div>
      <% if activity.targetable %>

        <%= simple_form_for(@comment, html: {class: "well", role: "form", multipart: true}) do |f| %>
          <% @comments = Comment.where("parent_type = '" + activity.targetable_type.downcase + "' AND parent_id = " + activity.targetable.id.to_s).order("created_at") %>
          <ul class="media-list">
            <% @comments.each do |comment| %>
              <li class="media">
                <%= avatar_profile_link comment.user, {class: 'img-circle pull-left', width: '30px', height: '30px'} %>
                <div class="media-body">
                  <h5 class="media-heading">
                    <%= link_to comment.user.full_name, profile_path(comment.user) %>
                    <% if User.online.include?(comment.user) %>
                      <span style="color: #29aa09;">Online</span>
                    <% end %>
                  </h5>
                  <%= comment.content %>
                  <p><small><%= time_ago_in_words(comment.created_at) %> ago</small></p>
                </div>
              </li>
              <hr style="margin-top: 2px; margin-bottom: 2px;">
            <% end %>
          </ul>
        <%= f.error_notification %>

        <div class="form-inputs">

          <%= f.input :parent_type, as: :hidden, input_html: {value: activity.targetable_type.downcase} %>
          <%= f.input :parent_id, as: :hidden, input_html: {value: activity.targetable.id} %>
          <%= f.input :content, label: false, input_html: {class: 'form-control', placeholder: "Add a comment..."} %>

        </div>

        <div class="form-actions">
          <%= button_tag(type: 'submit', class: "btn btn-success") do %>
              Add Comment
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <hr />
<% end %>
<%= will_paginate @activities %>
</div>
<div class="col-md-2 well hidden-sm hidden-xs" style="position: fixed; float:right; right: 10px; height:100%;">

    <h3>Advertisements:</h3>
    
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div style="margin: 0 auto; text-align: center;">
<!-- my world ads -->
      <ins class="adsbygoogle" style="display:inline-block;width:120px;height:240px" data-ad-client="ca-pub-4879610818531401" data-ad-slot="8250066063"></ins>

      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
</div>
    <div class="h5">We know ads aren't cool, but you've got to make a living somehow, right?</div>

</div>
<% else %>
<div class="col-md-4">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "well"}) do |f| %>
    <fieldset>
      <legend>Sign up!</legend>
      <%= devise_error_messages! %>

      <div><%= f.input :first_name, autofocus: true %></div>

      <div><%= f.input :last_name %></div>

      <div><%= f.input :profile_name %></div>

      <div><%= f.input :email %></div>

      <div><%= f.input :password, autocomplete: "off" %></div>

      <div><%= f.input :password_confirmation, autocomplete: "off" %></div>

      <div>
        <%= button_tag(type: 'submit', class: "btn btn-success") do %>
          Register
        <% end %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="col-md-4">
  <h2>Join MyWorldtoGo now!</h2>
  <div>
    MyWorldtoGo is the new social network where we don't track how many times you poke someone, or details other than the normal stuff in the database that makes the software work!
  </div>
</div>
<div class="col-md-4">
  <%= simple_form_for(:user, :url => session_path(:user), html: {class: "well", role: "form"}) do |f| %>
    <fieldset>
      <legend>Already a member? Log in now:</legend>
      <%= f.input :email, wrapper_html: {class: "form-group"}, input_html: {class: "form-control", placeholder: "E-mail"}, label: false %>
      <%= f.input :password, wrapper_html:{class: "form-group"}, input_html: {class: "form-control", placeholder: "Password"}, label: false %>
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        Log in
      <% end %>
    </fieldset>
    <%= render "devise/shared/links" %>
  <% end %>
</div>
<% end %>
