<!DOCTYPE html>
<html>
<head>
  <title>My World to Go</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
  <style>
    div.navbar-inverse, div.navbar-inverse li a, .navbar-inverse .navbar-brand {
       background-color:none;
       background-image:linear-gradient(to bottom,#5cb85c 0,#419641 100%);
       border: none;
       color: #fff; 
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background-color:#c12e2a;
        background-image:linear-gradient(to bottom,#419641 0,#5cb85c 100%);
        border: none;
    }
  </style>
  <script>
    (function(doc) { 
      doc.className = doc.className.replace(/(^|\b)no\-js(\b|$)/, 'js');
    }(document.documentElement));
  </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to image_tag("http://s3.amazonaws.com/myworldtogo/documents/attachments/000/000/013/medium/MyWorldToGoLogoWhite.png?1402689079", size: "200x15"), root_path, class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden-sm" id="activity-feed">
                      <a class='dropdown-toggle' href='#' data-toggle='dropdown' onclick="javascript:clearNotifications();">Activity</a>
                      <ul class='dropdown-menu' role='menu'>
                        <li>
                          <a href='#'>
                            <dl>
                              <dd>No new activity</dd>
                            </dl>
                          </a>
                        </li>
                        <li class='divider'></li>
                        <li>
                          <%= link_to "Activities", activities_path %>
                        </li>
                      </ul>
                    </li>
                    <% if user_signed_in? %>
                        <li><%= link_to 'Members', members_list_path %></li>
                        <li><%= link_to 'Albums', albums_path(current_user) %></li>
                        <li class="hidden-sm" id="friend-feed">
                          <a class='dropdown-toggle' href='#' data-toggle='dropdown' onclick="javascript:clearFriendNotifications();">Friends</a>
                          <ul class='dropdown-menu' role='menu'>
                            <li>
                              <a href='#'>
                                <dl>
                                  <dd>No friend requests pending</dd>
                                </dl>
                              </a>
                            </li>
                            <li class='divider'></li>
                            <li>
                              <%= link_to "Friends", user_friendships_path(list: 'friends') %>
                            </li>
                          </ul>
                        </li>
                        <li><%= link_to 'Messages', :conversations %></li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav pull-right">
                <% if user_signed_in? %>
                    <li><%= link_to current_user.full_name, profile_path(current_user) %></li>
                    <li><%= link_to "Log out", logout_path %></li>
                <% else %>
                    <li><%= link_to "Register", register_path %></li>
                    <li>
                      <%= simple_form_for(:user, :url => session_path(:user), html: {class: "navbar-form navbar-right", role: "form"}) do |f| %>
                        <%= f.input :email, wrapper_html: {class: "form-group"}, input_html: {class: "form-control", placeholder: "E-mail"}, label: false %>
                        <%= f.input :password, wrapper_html:{class: "form-group"}, input_html: {class: "form-control", placeholder: "Password"}, label: false %>
                        <%= f.input :remember_me, as: :boolean, wrapper_html:{class: "form-group", style:"margin: 0; padding: 0;"}, input_html:{class: "form-control", checked: "checked", style:"margin: 0; padding: 0; border: none;"}, label:false if devise_mapping.rememberable? %><span style="font-size: 8px;">Remember me</span>
                        <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
                            Log in
                        <% end %>
                      <% end %>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
          <%= render_breadcrumbs %>
            <% flash.each do |type, message| %>
                <div class="alert <%= flash_class(type) %>  fade in">
                    <button class="close" data-dismiss="alert">x</button>
                    <%= message %>
                </div>
            <% end %>
            
            <%= yield %>
            
        </div>
    </div>
</body>
<script id="activities-template" type="text/x-handlebars-template">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown"  onclick="javascript:clearNotifications();">Activity ({{count}})</a>
  <ul class="dropdown-menu" role="menu">
    {{#each activities}}
      {{activityLink}}
    {{/each}}
    <li class="divider"></li>
    <li><a href="{{activityFeedLink}}">Activities</a></li>
  </ul>
</script>
<script id="friendships-template" type="text/x-handlebars-template">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown"  onclick="javascript:clearFriendNotifications();">Friends ({{count}})</a>
  <ul class="dropdown-menu" role="menu">
    {{#each friendships}}
      {{friendLink}}
    {{/each}}
    <li class="divider"></li>
    <li><a href="/user_friendships?list=friends">Friends</a></li>
  </ul>
</script>
</html>