<% if user_signed_in? %>
  <div class="col-md-2">
    
  </div>
  <div class="col-md-8">
    <h1>Members list</h1>
    <% @users.each do |user| %>
      <% if !user.have_you_blocked_me?(current_user) && user != current_user %>
        <div class="row">
          <div class="col-md-2">
            <%= avatar_profile_link user, {class: 'img-circle'}, class: '' %>
          </div>
          <div class="col-md-10">
            <strong><%= link_to user.full_name, profile_path(user) %>
            <% if User.online.include?(user) %>
              <span style="color: #29aa09;">Online</span>
            <% else %>
              <span style="color: #999;">Offline</span>
            <% end %>
            </strong>
            <div class="meta">
              Joined <%= time_ago_in_words(user.created_at) %> ago.
            </div>
            <% if signed_in? %>
              <div>
                <div id="friend-status<%= user.profile_name %>" style="margin-bottom: 10px; float: left; margin-right: 10px;">
                  <% if user != current_user %>
                    <% if current_user.friends.include?(user) %>
                      <%= link_to "Destroy Friendship", destroy_user_friendship_path(user.user_friendship_number(current_user)), class: 'btn btn-danger', id: 'add-friendship', data: { friend_id: user.to_param, friendship_id: user.user_friendship_number(current_user), action: 'cancel' } %>
                    <% elsif current_user.pending_friends.include?(user) %>
                      <%= link_to "Cancel Friend Request", destroy_user_friendship_path(user.user_friendship_number(current_user)), class: 'btn btn-info', id: 'add-friendship', data: { friend_id: user.to_param, friendship_id: user.user_friendship_number(current_user), action: 'cancel' } %>
                    <% elsif current_user.requested_friends.include?(user) %>
                      <%= link_to "Accept Friendship", accept_user_friendship_path(user.user_friendship_number(current_user)), class: 'btn btn-warning', id: 'add-friendship', data: { friend_id: user.to_param, friendship_id: user.user_friendship_number(current_user), action: 'accept' } %>
                    <% elsif current_user.blocked_friends.include?(user) %>
                      <%= link_to "Unblock User", destroy_user_friendship_path(user.user_friendship_number(current_user)), class: 'btn btn-success', id: 'add-friendship', data: { friend_id: user.to_param, friendship_id: user.user_friendship_number(current_user), action: 'cancel' } %>
                    <% else %>
                      <%= link_to "Add Friend", new_user_friendship_path(friend_id: user), class: 'btn btn-primary', id: 'add-friendship', data: { friend_id: user.to_param, action: 'add' } %>
                    <% end %>
                  <% else %>
                    <%= link_to "Edit Your Profile", edit_user_registration_path, class: 'btn btn-primary' %>
                  <% end %>
                </div>
                <div>
                  <%= link_to "Albums", albums_path(user), class: 'btn btn-success' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <hr />
      <% end %>
    <% end %>
  </div>
  <div class="col-md-2">
    
  </div>
<% end %>